.left {
    width: 50%; 
    float: left;
    padding: 20px; 
    box-sizing: border-box; 
  
  }
  
  .right{
    width: 50%; 
    float: left; 
    padding: 20px; 
    box-sizing: border-box; 
  
    @media (max-width: 767px) {
        width: 100%; 
        float: none; 
    }
  }
  .box { 
    margin: 20px;
    padding: 15px;
    background-color: #4D724D;
    border-radius:30px;
    color: #ffffff;
  }
  
  h3 {
    font-size: 16px; 
    color: #ffffff;
  }
  
  .boxs {
    padding: 15px; 
    background-color: #86AB87; 
    margin: 20px; 
    border-radius:30px;
    & .profile-pic{
      width: 50px;
      border-radius: 50%;
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 20px;

    & .undsen-medeelel{
      display: flex;

    & .p{
      color: #FBE38B;
      margin-top: 30px;
      margin-left: 90px;
    }
  }
    }
   }
  .head2 {
    text-align: center;
  }
  
  .inner-box {
    width: 45%; 
    padding: 15px; 
    background-color: #86AB87; 
    margin: 20px; 
    border-radius:30px;
    color: #ffffff;
  
  }
  
  .label{
      margin-top: 30px;
      margin-left: 20px;
    }
  
  .nomnii-zurag{
    margin-left:20px;
    margin-right:20px;
  }
  

  .forms {
    flex: 35%;
    background-color: #4D724D;
    padding: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 91px 0px rgba(0,0,0,0.25);
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    & .iconss {
      position: absolute;
    }
    & .iconsss {
      position: absolute;
      cursor: pointer;
    }
  }
h1 {
  font-size: 35px
}


.forms input {
    padding: 17px;
    padding-left: 50px;
    width: 65%;
    margin: 5px;
    background-color: #ffffff;
    color: #86AB87;
    border: 1px solid #ffffff;
    border-radius: 15px;
}
.forms input[type="checkbox"] {
    width: auto;
      }

.forms input[type="submit"] {
    background-color: #86AB87;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 12px;
    width: 40%;
    margin: 5px;
   
}

.imgs1{
    flex: 70%;
    width: 70%;
    height: center;

}

.imgs2{
  flex: 70%;
  width: 90%;
  height: center;
  margin-top: 20%;
  margin-left: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
  
  
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
  justify-content: center;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}
