@media screen and (max-width:768px){
    nav{
        display:none;
    }

    #responsive{
        display: inline;
    }

    .icons{
        display:flex;
        max-width:30%;
        margin-right: 0px;
    }

    header img{
        max-width: 8.375rem;
        width: 3.375rem;
        height: 1rem;
    }

    .searchBar{
        width: 18rem;
    }
    #by-contact{
        margin-left: 0;
        display:flex;
        padding: auto;
        min-width: 90%;
        max-width: 90%;
    }
    
    .FAQ h3{
        max-width: 100%;
        max-height: 100%;
        font-size: 1.5rem;
        margin-left: 3%;
    }

    .contact-us{
        display:block;
    }

    .contact-text{
        display: block;
        width: 100%;
    }
    form{
        width: 100%;
    }
}


