
*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin:0;
  padding:0;
}

  .heading {
    display:flex;
    justify-content: space-between;
  }

  header {
    padding-top:1.875rem;
    padding-left:1%;
    padding-right:1%;
    background-color: hsl(120, 19%, 37%);
    border-radius: 0 0 1.563rem 1.563rem;

  }
  .icons svg{
    background-color: white;
    margin-right: 1.875rem;
    margin-top:1.875rem;
    border-radius: 1.563rem;
    width: 3.75rem;
    height: 1.875rem;
  }

  .heading figure img{
    width: 13.75rem;
    height: 4.063rem;
  }

  .searchBar{
border-radius: 2.5rem;
border: 0.063rem solid black;
background: white;
box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
width: 50rem;
height: 3.125rem;
margin-top:1.25rem;
margin-right:1.563rem;
  }

  header article label{
    display:none;
  }

  nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; 
  }

  nav a {
    text-decoration: none;
    color: #fff;
  }
  nav li{
    display: flex;
    width: 10rem;
    height: 10.25rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: radius 1.563rem;;
    text-align: center;
    font-family: Inter;
    font-size: 1.688rem;
    font-weight: 700;

  }

  .search-pop-out {
    position: relative;
    background-color: #fff;
    width: 58.75rem;
    height:28.125rem ;
    border-radius:1.563rem;
    margin-left:13%;
    display:none;
  }
  
  /* Top-left corner */
  #book-name {
    position: absolute;
    top: 6.25rem;
    left: 6.25rem;
  }
  
  /* Top-right corner */
  #book-categories {
    position: absolute;
    top: 6.25rem;
    right: 6.25rem;
  }
  
  /* Bottom-left corner */
  #rating {
    position: absolute;
    bottom: 6.25rem;
    left: 6.25rem;
  }
  
  /* Bottom-right corner */
  #price {
    position: absolute;
    bottom: 6.25rem;
    right: 6.25rem;
  }

  #submit-btn{
    position:absolute;
    bottom:10%;
    left:21.875rem;
    background-color:#4D724D;
    width:15.625rem;
    height:1.875rem;
  }

  #book-name-label {
    position: absolute;
    top: 4.375rem;
    left: 7.5rem;
  }

  #book-categories-label {
    position: absolute;
    top: 4.375rem;
    right: 18.75rem;
  }

  #price-label {
    position: absolute;
    bottom: 8.438rem;
    right: 17.5rem;
  }

  #rating-label {
    position: absolute;
    bottom: 8.438rem;
    left: 7.5rem;
  }

  .search-pop-out h1{
    padding-left: 5%;
    padding-top: 2%;
  }

  .search-pop-out input,
  .search-pop-out select{
    width: 18.75rem;
   height: 1.25rem;
   border-radius:1.563rem;
   background-color: #86AB87;
   
  }


  .poster-1 {
    margin-right:5%;
    margin-left:5%;
    display: flex;
    align-items: center; /* Center vertically within the article */
    padding-left:15.625rem;
    height:28.125rem;
    border-radius:1.563rem;
    

    
  }

  
  .content {
    flex: 1; /* Take up half of the available space */
    padding: 1.25rem; 
    color:white;
    max-width: 18.75rem;
    
  }
  
  figure {
    flex: 1; /* Take up the other half of the available space */
  }
  
  figure img {
    max-width: 100%; 
  }

  .content button{
display: flex;
flex-direction: column;
justify-content: center;
color: #4D724D;
text-align: justify;
border-radius:1.563rem;
height: 2.188rem;
border-color:white;

  }

  .poster-2{
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    
  }
  
  .bolomj{
    position:absolute;
    bottom:40%;
    left:25%;
    border-radius: 3.75rem;
    padding-top: 0.625rem;
    background: rgba(77, 114, 77, 0.70);
    width: 15rem;
    height: 18.75rem;
    color:white;
    text-align: center;
    line-height: 2;
    }

  .poster-2 img{
      width:100%;
      max-width: 100%;
      border-radius: 1.563rem;
    }
    /* .white{
      height:6.25rem;
      background-color: #9c9c9c;
      border-radius:0 0 1.563rem 1.563rem;
      margin-bot:12.5rem;
    } */

    .home-page-book-header {
        margin-left:11.25rem;
        margin-top: 15.625rem;
    }

    /* bugdend ni hamaaraltai */
    .book-container{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 90%;
      width: 90%;
    }

/* hemnelt ondortei nomnuud */

    .hemnelt_ondertei_nomnuud{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
    }

    .hemnelt_ondertei_nomnuud #book-grid{
      position:relative;
      width: 16.25rem;
      height: 25rem;
      margin-right:1.875rem;
      margin-left: 1.875rem;
      text-align: center;
      color:white;
      border-radius: 1.875rem;
      background-color: #4D724D;
    }

    /* shineer nemegdsen nomnuud*/

    .shineer_nemegdsen_nomnuud{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
    }

    .shineer_nemegdsen_nomnuud #book-grid{
      position:relative;
      width: 16.25rem;
      height: 25rem;
      margin-right:1.875rem;
      margin-left: 1.875rem;
      text-align: center;
      color:white;
      border-radius: 1.875rem;
      background-color: #4D724D;
    }

/* ondor unelgeetei nomnuud */

.ondor_unelgeetei_nomnuud{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

    .ondor_unelgeetei_nomnuud #book-grid{
      width: 16.25rem;
      height: 25rem;
      margin-right:1.875rem;
      margin-left: 1.875rem;
      text-align: center;
      color:white;
      border-radius: 1.875rem;
      background-color: #4D724D;
    }



    #svg-container{
      display:flex;
      align-items: center;
      justify-content: center;
      width: 3.125rem;
    }

    #dots-3{
      margin-left: 10%;
      margin-top: 5%;
     }

    .zaavar-zovlomj{
      color:#4D724D;
      text-align: center;
      width: 80%;
      height: 100%;
      text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

    }

    .tutorial-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
    }

    video{
      width: 100%;
      border-radius: 2.5rem;
    }

    footer{
      width: 100%;
      background-color: #86AB87;
      color:white;
    }

    footer #by-contact a{
      margin-left: 15%;
      text-decoration: none;
      color: white;
    }

    footer h3{
      margin-left: 10%;
      padding-top: 5%;
    }
    #by-contact{
      margin-left:10%;
      margin-top: 3%;
    }

    .icons-container{
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top: 3%;
    }

    footer p {
      width: 100%;
      height: 3rem;
      background-color: #4D724D;
      text-align: center;
      padding-top: auto;
  }

  s {
    color:gray;
    font-size: 0.75rem;
  }


  .sale-indicator {
    width: 5rem;
    height: 5rem; 
    background-color: #FBE38B; 
    border-radius: 50%; 
    position: absolute;
    top:-3.125rem;
    left:-3.125rem;
    z-index: 1;
    color: #8DB48E;
}

section article figure{
  max-width:11.25rem;
  max-height:15rem;
}

section article figure img{
  height:100%;
  width:100%;
}

  

