 
 *{
    font-family: 'Roboto';
  }
  body{
    margin:0;
    padding:0;
    max-width: 100%;
  }
  
@media only screen and (max-width: 480px) {
  
  .topic h2{
    width: 80%;
    font-size:0.8rem;
    color: #4D724D;
    margin-left: 10%;
    margin-top: 0.5%;
  }
  
  .topic p{
    text-align: justify;
    width: 78%;
    margin-left: 12%;
    font-weight: 400;
    font-size: 0.5rem;
  }
  
  .FAQ{
    margin-left: 10%;
    border-radius: 1.5rem;
    background: #86AB87;
    box-shadow: 0px 1px 50px 2px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 13rem;
    color: white;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 6rem;
  }
  .FAQ h2{
  margin-left:4%;
  padding-top: 2rem;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
  }
  
  .FAQ h3{
    padding-right: 1rem;
    margin-top: 1%;
    margin-left: 1rem;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .about-us h2:before {
  content: "▶";
  margin-right: 1%;
  cursor: pointer;
  color:#4D724D;
  }
  
  .about-us h2.active:before {
  content:"▽";
  }
  
  .about-us p {
  display: none;
  }
  
  .about-us h2:hover {
  color:black;
  }
  
  .about-us p.active {
  display: block;
  }
  
  .FAQ h3::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
  .contact-text{
    
    width: 80%;
    display: inline-block;
    color: #86AB87;
    & h2{
      font-weight: 600;
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
    & p{
      font-size: 1rem;
    }
  }
  #form{
    
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    display: inline-block;
    height: 34.875rem;
    border-radius: 1.5625rem;
    background: linear-gradient(180deg, rgba(134, 171, 135, 0.70) 0%, rgba(77, 114, 77, 0.00) 100%);
    text-align: center;
  }
  
  #form img{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45%;
  }
  
  .contact-us{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 7rem;
  }
  
  #form article{
    margin-top:0.75rem;
  }
  
  .form-container{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & .input-name, .input-email{
    width: 70%;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    background: #FFF;
    align-items: center;
    & div{
      display: flex;
     
      padding-left: 0.5rem;
    }
    & div svg{
    width: 30px;
    height: 40px;
    padding: 0;
    margin: 0;;
    }
    & div input{
      padding-left: 5px;
    border: none;
    font-size: 0.7rem;
    
    
    }
  }
  & #text-area{
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 70%;
    height: 10.3125rem;
    background-color: #FFF;
    & textarea{
      width: 100%;
      padding-top: 1rem;
      padding-left: 2.3rem;
      font-size: 0.7rem;
    }
    }
  }

  
  #form #submit input{
  width: 10rem;
  height: 2rem;
  color: #fff;
  background-color: #86AB87;
  border-radius: 1.5625rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  }
  
  #form ::placeholder{
  color: #86AB87;
  }
  
  .about-us h2::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
  .FAQ h3::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .topic h2{
    width: 80%;
    font-size:0.8rem;
    color: #4D724D;
    margin-left: 10%;
    margin-top: 2%;
  }
  
  .topic p{
    text-align: justify;
    width: 78%;
    margin-left: 12%;
    font-weight: 400;
    font-size: 0.5rem;
  }
  
  .FAQ{
    margin-left: 10%;
    border-radius: 1.5rem;
    background: #86AB87;
    box-shadow: 0px 1px 50px 2px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 17rem;
    color: white;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 6rem;
  }
  .FAQ h2{
  margin-left:4%;
  padding-top: 2.5rem;
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
  }
  
  .FAQ h3{
    padding-right: 1rem;
    margin-top: 1%;
    margin-left: 2rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .about-us h2:before {
  content: "▶";
  margin-right: 1%;
  cursor: pointer;
  color:#4D724D;
  }
  
  .about-us h2.active:before {
  content:"▽";
  }
  
  .about-us p {
  display: none;
  }
  
  .about-us h2:hover {
  color:black;
  }
  
  .about-us p.active {
  display: block;
  }
  
  .FAQ h3::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
  .contact-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    display: inline-block;
    color: #86AB87;
    & h2{
      font-weight: 600;
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
    & p{
      font-size: 1rem;
    }
  }
  #form{
    
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    display: inline-block;
    height: 34.875rem;
    border-radius: 1.5625rem;
    background: linear-gradient(180deg, rgba(134, 171, 135, 0.70) 0%, rgba(77, 114, 77, 0.00) 100%);
    text-align: center;
  }
  
  #form img{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45%;
  }
  
  .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 7rem;
  }
  
  #form article{
    margin-top:0.75rem;
  }
  
  .form-container{
    
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & .input-name, .input-email{
    width: 70%;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    background: #FFF;
    align-items: center;
    & div{
      display: flex;
     
      padding-left: 0.5rem;
    }
    & div svg{
    width: 30px;
    height: 40px;
    padding: 0;
    margin: 0;;
    }
    & div input{
      padding-left: 5px;
    border: none;
    font-size: 0.7rem;
    
    
    }
  }
  & #text-area{
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 70%;
    height: 10.3125rem;
    background-color: #FFF;
    & textarea{
      width: 100%;
      padding-top: 1rem;
      padding-left: 2.3rem;
      font-size: 0.7rem;
    }
    }
  }

  
  #form #submit input{
  width: 10rem;
  height: 2rem;
  color: #fff;
  background-color: #86AB87;
  border-radius: 1.5625rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  }
  
  #form ::placeholder{
  color: #86AB87;
  }
  
  .about-us h2::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
  .FAQ h3::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topic h2{
    width: 80%;
    font-size:1.4rem;
    color: #4D724D;
    margin-left: 10%;
    margin-top: 2%;
  }
  
  .topic p{
    text-align: justify;
    width: 78%;
    margin-left: 12%;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .FAQ{
    margin-left: 10%;
    border-radius: 2.5rem;
    background: #86AB87;
    box-shadow: 0px 1px 50px 2px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 22rem;
    color: white;
    text-align: justify;
    margin-top: 5%;
  }
  .FAQ h2{
  margin-left:4%;
  padding-top: 2.5rem;
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
  }
  
  .FAQ h3{
    padding-right: 2rem;
    margin-top: 1%;
    margin-left: 5rem;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    min-width: 60%;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .about-us h2:before {
  content: "▶";
  margin-right: 1%;
  cursor: pointer;
  color:#4D724D;
  }
  
  .about-us h2.active:before {
  content:"▽";
  }
  
  .about-us p {
  display: none;
  }
  
  .about-us h2:hover {
  color:black;
  }
  
  .about-us p.active {
  display: block;
  }
  
  .FAQ h3::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
  .contact-text{
    margin-top: -5rem;
    width: 40%;
    display: inline-block;
    color: #86AB87;
    & h2{
      font-weight: 600;
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
    & p{
      font-size: 1rem;
    }
  }
  #form{
    display: flex;
    justify-content: center;
    position: relative;
    width: 40%;
    display: inline-block;
    height: 34.875rem;
    border-radius: 1.5625rem;
    background: linear-gradient(180deg, rgba(134, 171, 135, 0.70) 0%, rgba(77, 114, 77, 0.00) 100%);
    text-align: center;
  }
  
  #form img{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45%;
  }
  
  .contact-us{
    
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
  }
  
  #form article{
    margin-top:0.75rem;
  }
  
  .form-container{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & .input-name, .input-email{
    width: 70%;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    background: #FFF;
    align-items: center;
    & div{
      display: flex;
     
      padding-left: 0.5rem;
    }
    & div svg{
    width: 30px;
    height: 40px;
    padding: 0;
    margin: 0;;
    }
    & div input{
      padding-left: 5px;
    border: none;
    font-size: 0.7rem;
    
    
    }
  }
  & #text-area{
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 70%;
    height: 10.3125rem;
    background-color: #FFF;
    & textarea{
      width: 100%;
      padding-top: 1rem;
      padding-left: 2.3rem;
      font-size: 0.7rem;
    }
    }
  }

  
  #form #submit input{
  width: 10rem;
  height: 2rem;
  color: #fff;
  background-color: #86AB87;
  border-radius: 1.5625rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  }
  
  #form ::placeholder{
  color: #86AB87;
  }
  
  .about-us h2::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
  .FAQ h3::before {
  content: "▶";
  margin-right:1%;
  cursor: pointer;
  }
  
  }

@media only screen and (min-width: 1024px) {
.topic h2{
  width: 80%;
  font-size:1.7rem;
  color: #4D724D;
  margin-left: 10%;
  margin-top: 2%;
}

.topic p{
  text-align: justify;
  width: 78%;
  margin-left: 12%;
  font-weight: 400;
  font-size: 20px;
}

.FAQ{
  margin-left: 10%;
  border-radius: 2.5rem;
  background: #86AB87;
  box-shadow: 0px 1px 50px 2px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 27rem;
  color: white;
  text-align: justify;
  margin-top: 5%;
}
.FAQ h2{
margin-left:4%;
padding-top: 2.5rem;
color: #FFF;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 2rem;
}

.FAQ h3{
  margin-top: 1%;
  margin-left: 9.25rem;
  color: #FFF;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  min-width: 60%;
  font-weight: 300;
  line-height: 1.5;
}

.about-us h2:before {
content: "▶";
margin-right: 1%;
cursor: pointer;
color:#4D724D;
}

.about-us h2.active:before {
content:"▽";
}

.about-us p {
display: none;
}

.about-us h2:hover {
color:black;
}

.about-us p.active {
display: block;
}

.FAQ h3::before {
content: "▶";
margin-right:1%;
cursor: pointer;
}

.contact-text{
  margin-top: -5rem;
  width: 40%;
  display: inline-block;
  color: #86AB87;
  & h2{
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
  & p{
    font-size: 1.5rem;
  }
}
#form{
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%;
  display: inline-block;
  height: 34.875rem;
  border-radius: 1.5625rem;
  background: linear-gradient(180deg, rgba(134, 171, 135, 0.70) 0%, rgba(77, 114, 77, 0.00) 100%);
  text-align: center;
}

#form img{
position: absolute;
bottom: 0;
right: 0;
height: 45%;
}

.contact-us{
  
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

#form article{
  margin-top:0.75rem;
}

.form-container{
margin-top: 5.8rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
& .input-name, .input-email{
  width: 70%;
  height: 3.3rem;
  border-radius: 1rem;
  border: none;
  background: #FFF;
  align-items: center;
  & div{
    display: flex;
    
    padding-left: 1rem;
  }
  & div svg{
  width: 60px;
  padding: 0;
  margin: 0;;
  }
  & div input{
  border: none;
  
  
  }
}
& #text-area{
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 70%;
  height: 10.3125rem;
  background-color: #FFF;
  & textarea{
    width: 100%;
    padding-top: 1rem;
    padding-left: 2.3rem;
  }
  }
}





#form #submit input{
width: 18.6875rem;
height: 2.5rem;
color: #fff;
background-color: #86AB87;
border-radius: 1.5625rem;
border: none;
outline: none;
font-size: 1.3rem;
font-weight: 600;
}

#form ::placeholder{
color: #86AB87;
}

.about-us h2::before {
content: "▶";
margin-right:1%;
cursor: pointer;
}

.FAQ h3::before {
content: "▶";
margin-right:1%;
cursor: pointer;
}

}






