:root {
    --color-background: #86AB87;
    --color-background-hover-ig:#357535;
    --color-background-h3: #4D724D;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-date: #584C4C;
    --color-red1: #CE5858;
    --color-red2: #cb6b6b;
    --border-rad-side: 50%;
    --font-weight-h: 300;
    --border-rad: 15px;
    --width: 550px;
    --padding-btn: 10px;
    --padding: 8px;
    --column-gap: 20px;
    --line-height: 2;
    --font-size: 10px;
    --font-size-h: 12px;
    --border-rad-avah-tatgalzah: 35%;
    --font-size-p: 8px;
    --min-width: 30%;
    --padding2: 20px;
    --font-size2: 20px;
    --column-gap2: 10px;
    --margin-btm: 15px;
    --padding-persent: 4%;
    --font-weight-avah-tqatgalzah: 200;
    --padding-tatgalzah: 9px 5px 16px;
    --border-rad2: 40%;
    --margin-left-bagts: auto;
    --width-h-artic: 400px;
    --padding-left-right: 30px;
    --border-rad-ustgah-zasah: 10px;
    --padding-top: 15px;

}

.notif {
    width: 25px;
    height: 25px;
    margin: 26px 0px 0px -10px;
    background-color: var(--color-background);
    color: var(--color-white);
    border-radius: var(--border-rad-side);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    & h4 {
        font-weight: var(--font-weight-h);
    }
}

.h3 {
    margin: 40px 0px 20px 0px;
    color: var(--color-white);
    background-color: var(--color-background-h3);
    border-radius: var(--border-rad);
    width: var(--width);
    font-size: 15px;
    padding: 25px;
    font-weight: 350;
}

.articles {
    padding-bottom: var(--padding-btn);
    border-radius: 20px;
    color: var(--color-black);
    background-color: var(--color-background);
    min-width: 40%;
    width: var(--width);
    margin: 0px 0px 20px 30px;
    padding: var(--padding);
    
}

.niit-medeelel {
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--column-gap);

    .medeelel {
        column-gap: 40px;
        display: flex;

        & .ehniih {
            line-height: var(--line-height);
            font-size: 11px;
        }

        & p {
            text-align: center;
            font-size: var(--font-size);
            display: inline;

        }

        & .pra {
            color: var(--color-date);
        }

        & h4 {
            font-size: var(--font-size-h);
        }
    }

    .pro {
        border-radius: var(--border-rad-side);
        margin: 30% 0;
    }
    .huleen-avah {
        border-radius: var(--border-rad-avah-tatgalzah);
        border: none;
        background-color: var(--color-background-h3);
        color: var(--color-white);
        cursor: pointer;
        padding: 12px 15px 9px 15px;
        font-size: var(--font-size-p);
    }
    .tatgalzah {
        text-align: center;
        align-items: center;
        border-radius: var(--border-rad-avah-tatgalzah);
        border: none;
        background-color: var(--color-red1);
        color: var(--color-white);
        cursor: pointer;
        padding: 12.2px 10px 18px 10px;
        font-size: var(--font-size-p);
    }
}
.see-more {
    border: none;
    cursor: pointer;
}

.hide_show h3:before {
    content: "▶";
    margin-right: 1%;
    cursor: pointer;
    color: var(--color-white);
}

.hide_show h3.active:before {
    content: "▽";
}

.hide_show .articles {
    display: none;
}

.hide_show h3:hover {
    cursor: pointer;
}

.notif.active {
    display: none;
}

.hide_show .articles.active {
    display: block;
}

.articless {
    padding: var(--padding2);
    border-radius: 25px;
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-background);
    min-width: var(--min-width);
    width: var(--width);
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transition effect */
    margin-bottom: 30px;
}

.undsen-medeelel {
    display: flex;

    & svg {
        margin: 10px 0px 0px 50%;
        cursor: pointer;
    }

    & label {
        font-size: 14px;
        margin: 25px 0px 0px 8px;

    }
    .profile-pic {
        width: 50px;
        border-radius: var(--border-rad-side);
        margin: 10px 0px 15px 0px;
    }
}


main h1 {
    font-weight: bolder;
    padding: var(--padding2);
    text-align: center;
}

.btn {
    margin: 40px 0px 40px 0px;
    color: var(--color-white);
    background-color: var(--color-background-h3);
    border-radius: 50px;
    width: 40%;
    height: 70px;
    font-size: var(--font-size2);
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.bag {
    display: flex;
    justify-content: space-evenly;
}

.bagts {
    font-size: larger;
    flex-wrap: wrap;
    border-radius: 20px;
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-background-h3);
    min-width: var(--min-width);
    width: 90%;
    margin: 0px 0px 30px 3%;
    padding: 30px;
}

.btn-ustgah {
    background-color: var(--color-red2);
    border-radius: var(--border-rad-ustgah-zasah);
    border: none;
    padding: 0px 30px;
    margin: 0px 0px 20px 20px;
    cursor: pointer;
}

.btn-zasah {
    background-color: var(--color-background);
    border-radius: var(--border-rad-ustgah-zasah);
    padding: 10px;
    margin: 0px 0px 20px 65%;
    border: none;
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
    cursor: pointer;
}

.book_info_main {
    display: flex;
    justify-content: center;
    font-weight: none;
    font-size: 13px;
    align-items: center;

    & .nomnii_medeelel {
        white-space: normal;
        width: 360px;

        & h4 {
            font-size: medium;
            font-weight: 500;
            margin: 0 0 1.5rem 1.8rem;
        }

        & .tags {
            display: flex;
            justify-content: space-around;
            font-weight: var(--font-weight-h);

        }
    }

    .ehni-tag p {
        line-height: var(--line-height);
    }

    .hoyrdah-tag p {
        line-height: var(--line-height);
    }

    .hoyrdah-tag {
        margin-top: -1.9rem;
    }
}

.learn {
    color: var(--color-background);
    font-size: var(--font-size2);
    border: none;
    margin: 0px 0px 30px 46.5%;
    cursor: pointer;
}

@media only screen and (min-width: 730px) and (max-width: 1023px) {
    .articles {
        min-width: var(--min-width);
    }

    .niit-medeelel {
        .huleen-avah {
            padding-top: var(--padding-top);
            padding-bottom: var(--padding-btn);
            padding-right: 15px;
        }

        .tatgalzah {
            padding-top: var(--padding-top);
            padding-bottom: 15px;
            padding-right: 10px;
        }
    }

    .bag {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .bagts {
        min-width: 50%;

        & .btn-ustgah {
            background-color: var(--color-red2);
            border-radius: var(--border-rad-ustgah-zasah);
            padding: var(--padding);
            border: none;
            padding-left: var(--padding-left-right);
            padding-right: var(--padding-left-right);
            margin-left: 0px 0px 25px 20px;
            cursor: pointer;
        }

        & .btn-zasah {
            background-color: var(--color-background);
            border-radius: var(--border-rad-ustgah-zasah);
            padding: var(--padding);
            margin: 0px 0px 20px 53%;
            border: none;
            padding-left: var(--padding-left-right);
            padding-right: var(--padding-left-right);
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 490px) and (max-width: 730px) {
    .h3 {
        width: var(--width-h-artic);
        font-size: var(--font-size-h);
        font-weight: var(--font-weight-h);
    }

    .articles {
        border-radius: var(--border-rad);
        min-width: var(--min-width);
        width: var(--width-h-artic);
        padding: 6px;
    }

    .niit-medeelel {
        column-gap: var(--column-gap2);

        .medeelel {
            column-gap: var(--column-gap);
            display: inline-flex;

            & .ehniih {
                font-size: var(--font-size-p);
            }

            & p {
                font-size: var(--font-size-p);
                display: inline-flex;
            }

            & h4 {
                font-size: var(--font-size);
            }
        }

        .huleen-avah {
            border-radius: var(--border-rad2);
            padding: var(--padding) 12px;
            font-weight: var(--font-weight-avah-tqatgalzah);
        }

        .tatgalzah {
            border-radius: var(--border-rad2);
            padding: var(--padding-tatgalzah);
            font-weight: var(--font-weight-avah-tqatgalzah);
        }
    }

    .bag {
        justify-content: center;
    }

    .bagts {
        margin-left: var(--margin-left-bagts);
        padding: var(--padding-persent);
    }

    .btn-zasah {
        margin-left: 30%;
    }

    .undsen-medeelel {

        & label {
            margin: 25px 0px 0px 8px;
        }
        & svg {
            margin: 15px 0px 0px 50%;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 490px) {
    .notif {
        margin-left: -2px;
    }

    .h3 {
        width: 385px;
        font-size: var(--font-size-h);
        margin-bottom: 20px;
        font-weight: var(--font-weight-h);
    }

    .articles {
        border-radius: var(--border-rad);
        min-width: 10%;
        width: 380px;
        margin-bottom: var(--margin-btm);
        padding: 5px;
    }

    .niit-medeelel {
        column-gap: 8px;

        .medeelel {
            column-gap: 15px;
            display: inline-flex;

            & .ehniih {
                line-height: 1.9;
                font-size: var(--font-size-p);
            }

            & p {
                font-size: var(--font-size-p);
                display: inline-flex;
            }

            & h4 {
                font-size: var(--font-size);
            }
        }

        .huleen-avah {
            border-radius: var(--border-rad2);
            padding: 8px 12px;
            font-size: var(--font-size-p);
            font-weight: var(--font-weight-avah-tqatgalzah);
        }

        .tatgalzah {
            border-radius: var(--border-rad2);
            padding: var(--padding-tatgalzah);
            font-size: var(--font-size-p);
            font-weight: var(--font-weight-avah-tqatgalzah);
        }
    }

    .undsen-medeelel {
        & svg {
            margin-left: 70%;
        }
    }

    .profile-pic {
        width: auto;
        margin-left: 15px;
        margin-bottom: var(--margin-btm);
    }

    .bag {
        justify-content: space-evenly;
    }

    .bagts {
        font-size: large;
        margin-left: var(--margin-left-bagts);
        padding: var(--padding-persent);
    }

    .btn-ustgah {
        padding: 0px 18px;
        margin-left: 10px;
    }

    .btn-zasah {
        margin: 0px 0px 25px 30%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .book_info_main {
        column-gap: var(--column-gap2);
    }

    .learn {
        margin-left: 40%;
    }

    .undsen-medeelel {
        & label {
            margin: 25px 0px 0px 8px;

        }
        & svg {
            margin: 5px 0px 0px 29%;
        }  
        
    }

    

}
.articless:hover {
    transform: scale(1.05); /* Slightly scale up */
    background-color: var(--color-background-hover-ig); /* Change background color */
}